.ratingStars {
    display: flex;
    width: 115%;
    justify-content: space-between;
}

/*ADAPTATION BANNER - ECRAN TABLETTE & TEL*/
@media all and (max-width: 768px)
{
    .ratingStars {
        width: auto;
    }
}
