.logement_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4%;
}

.logement_content {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.logement_title {
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    margin: 0px;
}

.logement_location {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
}

.logement_tags {
    display: flex;
    justify-content: flex-start;
}

.logement_tags p {
    background: #FF6060;
    color: #FFFFFF;
    margin: 5% 3% 0% 0%;
    padding: 1%;
    width: 150px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.host_profil {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.host_name_picture {
    display: flex;
    align-items: center;
    text-align: right;
}

.host_name {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    margin-right: 5%;
    line-height: 30px;
}

.host_picture {
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.logement_collapse {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin: 0% 4%;
}

.logement_collapse .collapse {
    width: 100%;
    list-style-type: none;
}

.logement_collapse .collapse_header {
    width: 100%;
}

.logement_collapse .collapse_content {
    width: 100%;
    border-radius: 10px;

}

.logement_collapse p {
    height: 290px;
    margin: 0;
}

/*ADAPTATION BANNER - ECRAN TABLETTE & TEL*/
@media all and (max-width: 768px)
{
    .logement_header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logement_content {
        width: 100%;
    }

    .host_profil {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }

    .logement_collapse {
        flex-direction: column;
    }

    .logement_collapse .collapse {
        margin: 0% 0% 4% 0%;
    }
    .logement_collapse p {
        height: auto;
    }
}