.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 4%;
}

.header img {
    width: 22%;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding:0px;
}

.nav_list li {
    padding-left: 60px;
    font-size: 24px;
    text-transform: capitalize;
}

.nav_list_item {
    text-decoration: none;
    color: #FF6060;
}

.nav_list_active {
    text-decoration: underline;
    color: #FF6060;
}

/*ADAPTATION HEADER - ECRAN TABLETTE (& TEL)*/
@media all and (max-width: 992px)
{
    .nav_list li {
        padding-left: 20px;
        font-size: 12px;
        text-transform: uppercase;
    }
}